# --- Framework Web ---
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7

# --- Banco de Dados (Postgres) ---
psycopg2-binary==2.9.9
SQLAlchemy==2.0.36

# --- Servidor de Produção ---
gunicorn==23.0.0
gevent==24.2.1        # Worker assíncrono para alta concorrência
greenlet==3.1.1       # Otimização para SQLAlchemy

# --- Integrações ---
requests==2.32.3
twilio==9.2.3
python-dotenv==1.0.1  # para rodar com .env local

# --- Observabilidade / Logs ---
prometheus-client==0.21.0
structlog==24.4.0     # Logs estruturados para monitoramento avançado
sentry-sdk==2.18.0    # Observabilidade e rastreio de erros em produção